.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Login/signup CSS */
.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card.login-form {
  max-width: 400px;
  padding: 2rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.login-form .logo-container {
  margin-bottom: 2rem;
}

.login-form form {
  width: 100%;
  max-width: 300px;
}

.login-form .input-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  
}

.login-form .input-icon {
  margin-right: 0.5rem;
}

.login-form .signup-link {
  margin-top: 1rem;
  text-align: center;
}

.login-form .signup-link a {
  color: blue;
}

.login-form input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}


